<div class="row" cg-busy="formPromise">
    <div class="col-md-12">
        <div  class="page-header" style="text-align:center; font-size: 2em;">
            <h3>Change Password</h3>
        </div>
        <div ng-show="error" class="text-danger text-center">
            <strong>{{error}}</strong>
        </div>
        <form name="changePasswordForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-4 control-label">NIP</label>
                <label class="col-sm-8">{{resource.nip}}</label>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Name</label>
                <label class="col-sm-8">{{resource.name}}</label>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">New Password</label>
                <div class="col-sm-8" ng-class="{'has-error' : changePasswordForm.newPassword.$invalid}">
                    <input type="text" class="form-control" name="password" id="password" placeholder="New Password" ng-model="passwordDetails.newPassword" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-default" ng-click="simpan()" ng-disabled="changePasswordForm.$invalid">Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>
